.no-scroll-content {
    --overflow: hidden;
}
.ohraniceni {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #b7f399;
    font-family: 'Times New Roman', Times, serif;
}

.ohraniceni p {
    text-align: center;
    font-size: x-large;
    max-width: 90%;
    margin: 10px 0;
    color: #4fa125;
}

.autor {
    font-style: oblique;
}