<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="hlavicka">Hlavní nabídka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center no-scroll-content">
  <div class="ohraniceni" vertical="center">
    <div vertical="top">
      <h1>Vyber jednu z možností:</h1>
    </div>
    <div>
    <ion-fab horizontal="center">
      <ion-fab-button color="success">
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="success" (click)="goToRymyPage()">
          <ion-icon name="globe-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="success" (click)="goToHistoriePage()">
          <ion-icon name="file-tray-full-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="success" (click)="goToInfoAplikacePage()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    </div>
    
    </div>
</ion-content>
