<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="hlavni" href="/tabs/hlavni">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Hlavni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rymy" href="/tabs/rymy">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Rymy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historie" href="/tabs/historie">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Historie</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="infoaplikace" href="/tabs/infoaplikace">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Info o aplikaci</ion-label>
    </ion-tab-button> 



  </ion-tab-bar>

</ion-tabs>
