<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Objev nové rýmy..</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true" class="ohraniceni">
  <ion-card>
    <ion-input
    type="text"
    fill="solid"
    label="Slovo:"
    labelPlacement="floating"
    helperText="Zadej slovo"
    [(ngModel)]="slovo">
  </ion-input>
  </ion-card>

  <ion-item>
    <ion-button expand="block" (click)="searchWord()">Vyhledej</ion-button>
  </ion-item> 
</ion-content>
-->

