<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="hlavicka">Najdi nové rýmy:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ohraniceni">
  <ion-card>
    <ion-input
    type="text"
    fill="solid"
    label="Rým:"
    labelPlacement="floating"
    helperText="Zadej rým"
    [(ngModel)]="rhyme">
  </ion-input>
  </ion-card>

  <ion-item>
    <ion-button expand="block" (click)="searchRhyme()" color="success">Vyhledej</ion-button>
  </ion-item> 

  <ion-list *ngIf="similarRhymes.length > 0">
    <h1>Seznam podobných rýmů</h1>
    <ion-item *ngFor="let similarRhyme of similarRhymes">
      {{ similarRhyme }}
    </ion-item>
  </ion-list> 
</ion-content>

